@model MolinaInmobilaria.Models.Contrato


@{
    ViewData["Title"] = "Por Fechas";
    string min = DateTime.Now.ToString("yyyy-MM-dd");
   
}

<h4>De esta forma, obtendra los Inmuebles que estan desocupados en determinado rango de fechas.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PorFechas">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" type="date"/>
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaExpiracion" class="control-label"></label>
                <input asp-for="FechaExpiracion" class="form-control" type="date"/>
                <span asp-validation-for="FechaExpiracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Volver a la Lista principal</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
